version: '2'

services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    ports:
      - "8080:80"

  db:
    build: ./database
    ports:
      - "5432:5432"

